body {
    display: flex;
    width: 100vw;
    height: 100vh;
}




.logo-section {
    width: 40%;
    text-align: center;
    position: relative;
}

.photo-credit {
    width: 100%;
    position: absolute;
    bottom: 10px;

    

    
}